{% extends 'base.html.twig' %}

{% block title %}Modifier un emploi du temps{% endblock %}

{% block body %}
<div class="container my-4">

    <h1>Modifier un emploi du temps</h1>

    {{ form_start(TimetableForm) }}
    
        {{ form_row(TimetableForm.title) }}
        {{ form_row(TimetableForm.day_timetable) }}
        {{ form_row(TimetableForm.subject_morning) }}
        {{ form_row(TimetableForm.professor_morning) }}
        {{ form_row(TimetableForm.subject_afternoon) }}
        {{ form_row(TimetableForm.professor_afternoon) }}
        {{ form_rest(TimetableForm) }}
    <button type="submit" class="btn btn-lg btn-primary">Modifer mon emploi du temps</button>


    {{ form_end(TimetableForm) }}

</div>
{% endblock %}