{% extends 'base.html.twig' %}

{% block title %}Tableau de gestion{% endblock %}

{% block body %}
<div class="container my-4">
    <h1>Les emplois du temps publiés :</h1>

    <a class="btn btn-primary" href="{{ path('app_add_timetable')}}">Ajouter un emploi du temps</a>

    <div class="row row-cols-1 row-cols-md-2 g-4">

        {% for timetable in timetables %}
        <div class="col">
            <div class="card">
                <h5 class="card-header">{{ timetable.dayTimetable|format_datetime('full', 'none', locale:
                    'fr')|capitalize }}</h5>
                <div class="card-body">
                    <h5 class="card-title">{{ timetable.title }}</h5>
                    <div class="text-timetable">
                        <div class="hours">
                            <p class="hour">9h00 - 12h00</p>
                            <div class="description">
                                <p class="card-text professor">{{ timetable.professorMorning }}</p>
                                <p class="card-text subject">{{ timetable.subjectMorning }}</p>
                            </div>
                        </div>
                        <div class="hours">
                            <p class="hour">13h00 - 16h00</p>
                            <div class="description">
                                <p class="card-text professor">{{ timetable.professorAfternoon }}</p>
                                <p class="card-text subject">{{ timetable.subjectAfternoon }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-primary" href="{{ path('app_edit_timetable', {id: timetable.id}) }}">Modifer</a>
            <a class="btn btn-danger" href="{{ path('app_delete_timetable', {id: timetable.id}) }}">Supprimer</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}