{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<div class="grid">
		<div class="col news">
			{% for item in rss|slice(0,1) %}
				<img class="img-news" src="{{ item.enclosureUrl }}" alt="image article">
				<br>
				<h5>{{ item.title }}</h5>
				<small class="text-body-secondary">{{ item.pubDate|format_datetime('medium', 'none', locale: 'fr') }}</small>
				<p>{{ item.description }}</p>
			</div>
		{% endfor %}
		<div class="col image-col timetable">
			{% for timetable in timetables|slice(0,1) %}
				<img src="{{ vich_uploader_asset(timetable, 'thumbnail') }}" alt="">
			{% endfor %}
		</div>
		<div class="col instagram">
			{% for item in instagram|slice(0,1) %}
				{# <img class="img-news" src="{{ item.enclosureUrl }}" alt="image article"> #}
				<h5>{{ item.title }}</h5>
				<small class="text-body-secondary">{{ item.pubDate|format_datetime('medium', 'none', locale: 'fr') }}</small>
				<p>{{ item.description }}</p>
			{% endfor %}
		</div>
		<div class="col funfact">
			{% for item in funfact|slice(0,1) %}
				<h5>{{ item.title }}</h5>
				<p>{{ item.description }}</p>
			{% endfor %}
		</div>
	</div>
{% endblock %}
