{% extends 'base.html.twig' %}

{% block title %}Page pour TV{% endblock %}

{% block body %}
<div class="index">
    <div class="grid">
        <section class="splide column news" id="carousel">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for item in rss|slice(0,5) %}
                    <li class="splide__slide">
                        <img class="img-news" src="{{ item.enclosureUrl }}" alt="image article">
                        <br>
                        <h5>{{ item.title }}</h5>
                        <small class="date">{{ item.pubDate|format_datetime('medium', 'none', locale: 'fr') }} -
                            Amiens</small>
                        <p>{{ item.description }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section class="splide column timetable" id="timetable-carousel">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for timetable in timetables %}
                    <li class="splide__slide">
                        <div class="card">
                            <h5 class="card-header">{{ timetable.dayTimetable|format_datetime('full', 'none', locale:
                                'fr')|capitalize }}</h5>
                            <div class="card-body">
                                <h5 class="card-title">{{ timetable.title }}</h5>
                                <div class="text-timetable">
                                    <div class="hours">
                                        <p class="hour">9h00 - 12h00</p>
                                        <div class="description">
                                            <p class="card-text professor">{{ timetable.professorMorning }}</p>
                                            <p class="card-text subject">{{ timetable.subjectMorning }}</p>
                                        </div>
                                    </div>
                                    <div class="hours">
                                        <p class="hour">13h00 - 16h00</p>
                                        <div class="description">
                                            <p class="card-text professor">{{ timetable.professorAfternoon }}</p>
                                            <p class="card-text subject">{{ timetable.subjectAfternoon }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section class="splide column agefi" id="agefi-carousel">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for item in agefi|slice(0,5) %}
                    <li class="splide__slide">
                        <h5>{{ item.title }}</h5>
                        <small class="date">{{ item.pubDate|format_datetime('medium', 'none', locale: 'fr') }} -
                            Agefi</small>
                        <p>{{ item.description }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section class="splide column funfact" id="funfacts-carousel">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for item in funfact %}
                    <li class="splide__slide">
                        <h5>{{ item.title }}</h5>
                        <small class="funfact-small">Les Funfacts</small>
                        <p>{{ item.description }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
</div>
{% endblock %}